:root {
  --head-text: #1e298d;
  --main-text: #5e64e9;
  --white-text: #fff;
  --sub-text: #363de3;
  --red-background: #de2219;
  --green-background: #dff2dc;
  --head-table: #f9d5d5;
  --purple-background: #d7d8f9;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.green-bg {
  background-color: var(--green-background);
}

.head-bg {
  background-color: var(--head-table);
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hidden {
  display: none;
}

.p-4 {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td:first-child,
th:first-child {
  border-radius: 16px 0 0 16px;
}

td:last-child,
th:last-child {
  border-radius: 0 16px 16px 0;
}

.block__enroll-container {
  flex-direction: column;
}

.block__enroll-wrapper-content {
  margin-top: 1rem;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.block__enroll-wrapper-content--dropdown {
  position: relative;
  margin-top: 0.25rem;
  /* width: fit-content; */

  ul {
    position: absolute;
    z-index: 30;
    margin-top: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background-color: var(--white-text);
    width: fit-content;
    overflow: auto;
    border-radius: 0.375rem;
    max-height: 15rem;

    li:hover {
      opacity: 0.7;
      background-color: var(--head-table);
    }

    li {
      cursor: pointer;
      transition-duration: 300ms;
      width: 100%;

      span {
        /* overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
        display: block;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-weight: 600;
      }
    }
  }
}

.block__enroll-wrapper-content-left {
  margin-bottom: 1.5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--white-text);
  padding: 1rem;
}

.block__enroll-wrapper-content-table {
  width: 100%;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    overflow: hidden;

    tbody tr {
      font-size: 0.875rem;
      line-height: 1.25rem;
      transition-duration: 300ms;
      text-align: center;

      td {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      input {
        width: 1rem;
        height: 1rem;
        margin-top: 0.5rem;
        margin-right: -0.75rem;
        padding: 2px;
      }
    }
  }
}

.block__enroll-button--dropdown {
  text-align: left;
  padding-left: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: var(--white-text);
  position: relative;
  width: fit-content;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;

  .block__enroll-button--span1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    display: block;
  }

  .block__enroll-button--span2 {
    max-height: 20px;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .block__enroll-button--span2 svg {
    width: 20px;
    height: 20px;
    color: #9ca3af;
  }
}

/* right */
.block__enroll-wrapper-content-right {
  background-color: var(--white-text);
  padding: 1rem;
  gap: 2rem;
  width: 100%;
  flex-direction: column;
  margin-top: 1.25rem;
  height: fit-content;

  h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
    width: 100%;
  }

  .block__enroll-wrapper-right {
    gap: 0.25rem;
    flex-direction: column;

    .block__enroll-week {
      text-decoration: underline;
      font-weight: 600;
      font-size: 14px;
      color: #4c4c4c;
      padding: 0.25rem;
    }

    .block__enroll-days {
      background-color: var(--main-text);
      color: var(--white-text);
      padding: 0.5rem 0.75rem;
      border-radius: 1rem;
      font-weight: 700;
      font-size: 14px;
      flex: 1;
    }

    tbody {
      display: flex;
      gap: 0.25rem;
      flex-direction: column;

      .inline__enroll-content-week {
        padding: 0.5rem 1.125rem;
        color: var(--main-text);
        background-color: var(--purple-background);
        border-radius: 1rem;
        font-weight: 700;
        font-size: 14px;
        min-width: 45px;
      }

      .inline__enroll-content-img {
        flex: 1;
      }
    }
  }
}
