* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.screen {
  min-height: 100vh;
  position: relative;
  background-color: #f5f5fe;
}

.hidden {
  display: none !important;
}

.screen .bg__img {
  height: 90%;
  width: 95%;
  position: absolute;
  right: -3%;
  object-fit: cover;
  background-position: right;
}

.screen .bg__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #a62eff;
}

.screen .login {
  position: absolute;
  top: 10%;
  left: 10%;
  display: inline-flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 24px;
  border: 10px solid rgba(163, 177, 249, 0.42);
  background: #fff;
}

.login .login__title {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__title .login__title-logo {
  width: 90px;
  height: 90px;
  background-position: -6px -6.75px;
  background-size: 115% 115%;
  background-repeat: no-repeat;
}

.login__title .login__title-heading {
  color: #e02d2d;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.login .input {
  display: flex;
  width: 485px;
  height: 56px;
  padding: 4px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;

  border: 1px solid #999;
}

.input .input__label {
  width: 80%;
  border: none;
  outline: none;
  margin-right: auto;
  height: 100%;
}
.input .input__label::placeholder {
  font-weight: 600;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

.input .input__icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  transition: all;
}

.input .input__icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
.login .login__function {
  display: flex;
  width: 485px;
  height: 25px;
  align-items: center;
}

.login__function .login__function-remember {
  width: 18px;
  height: 18px;
  margin-right: 0.25rem;
}

.login__function span {
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
}

.login__function .login__function-forget {
  font-weight: 500;
  font-size: 14px;
  color: #e02d2d;
  margin-left: auto;
  transition: all;
}

.login__function .login__function-forget:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__button {
  font-size: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 485px;
  height: 56px;
  text-align: center;
  background-color: #e02d2d;
  border-radius: 16px;
  transition: all;
  text-decoration: none;
  transition: all;
  transition-duration: 300ms;
  border: none;
}

.login__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__button--ms365 {
  color: #000;
  background-color: #fff;
  border: 1px solid #999;
  transition: all;
  transition-duration: 300ms;
}

.login__button--ms365:hover {
  background-color: #2f6bff;
  color: #fff;
}
.login-text-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.login-text-between span {
  font-weight: 600;
}
.login-text-between #line-between {
  display: inline-block;
  width: 149px;
  height: 1px;
  background: #b3b3b3;
}
